<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
        <script type="text/javascript" src="/static/js/app.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
        <!--Add custom favicon for browser tab-->
        <link rel = "icon" href = "static/img/site_logo.png" type = "image/x-icon">

    </head>
    <body>
      <!--Logo-->
    <img src="static/img/site_logo.png" alt="Server and Pendulum" width="160" height="130">
		<title>Remotely Accessible Inverted Pendulum</title>
		<nav class = "header">
            <h1 id="title1">Remotely Accessible Inverted Pendulum</h1>

          <!--  <button class="button" onclick="toggleAbout()">About</button> -->

            <div id="about">
              <h2 id="subtitle">
                  By Sam Hansen, Rezkath Awal, Donovan Peterson and Joseph Jewett (2021) <br>
                  And Alin Butoi, Paul D’Amico, Dat Nguyen, Ross Olson, Rachel Schow (2019) <br>
                  Advisor: Professor Andrew Lamperski <br>
                  Sponsored by the University of Minnesota - Twin Cities <br>
              </h2>
              <br>
              <h1 id="Background">Background</h1>
              <p>
                  Our teams developed an inverted pendulum system that could be accessed over a computer network for use by students.
                  The inverted pendulum is a common controls problem used in academia.
                  This problem teaches students concepts of control loops, data filtering, and machine learning.
              </p>
              <br>

                <h1 id="Pendulum_info"> What is an Inverted Pendulum? </h1>
                <p>
                    A vertical pendulum that is balanced via the base moving. <br>
                    Controlled movements are determined by measuring the position and speed of the pendulum and base.
                </p>

               <!--<button onClick="window.location.href='http://127.0.0.1:5000/github_repo';">Our GitHub repository </button>

                <button onClick="window.location.href='http://127.0.0.1:5000/index';">To the pendulum! </button>-->
            </div>

            <br>
        </nav>
        <div>
          <!--repopulate link with statc IP address for controls lab -->
        </div>
        <div id="main">
            {% block content %}
            <!--    default content -->
            {% endblock %}
        </div>

          <ul id=firstPage>
            <li><a href="/">Home</a></li>
            <li><a href="/index">To the Pendulum!</a></li>
            <li><a href="/github_repo">Our GitHub Repository</a></li>
          </ul>

    </body>
</html>
