<html>
    <head>
        <!--for favicon.ico-->
        <link rel="icon" href="data:,">
        <link rel="stylesheet" href="/static/css/style.css">
        <script type="text/javascript" src="/static/js/app.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

    </head>
    <body>
		<title>ANDY'S PIE</title>
		<nav class = "header">
            <h1 id="title">Remotely Accessible Inverted Pendulum</h1>

          <!--  <button class="button" onclick="toggleAbout()">About</button> -->

            <div id="about">
                <h2 id="subtitle">
                    By Sam Hansen, Rezkath Awal, Donovan Peterson and Joseph Jewett <br>
                    Advisor: Professor Andrew Lamperski <br>
                    Sponsored by the University of Minnesota - Twin Cities <br>
                </h2>
                <h1>Team ANDY'S PIE</h1>
                <div>
                    Andy’s Nifty Dynamic Inverted Swinging Pendulum in Equilibrium
                </div>

                <h1>Background</h1>
                <p>
                    Our team developed an inverted pendulum system that could be accessed over a computer network for use by students. The inverted pendulum is a common controls problem used in academia. This problem teaches students concepts of control loops, data filtering, and machine learning.
                </p>

                <h1> What is an Inverted Pendulum? </h1>
                <p>
                    A vertical pendulum that is balanced via the base moving. <br>
                    Controlled movements are determined by measuring the position and speed of the pendulum and base.
                </p>

               <button onClick="window.location.href='http://127.0.0.1:5000/github_repo';">Our GitHub repository </button>

                <button onClick="window.location.href='http://127.0.0.1:5000/index';">To the pendulum! </button>


            </div>

            <br>
            <br>
        </nav
        <div>
          <!--repopulate link with statc P address for controls lab -->
        </div>
        <div id="main">
            {% block content %}
            <!--    default content -->
            {% endblock %}
        </div>
    </body>
</html>
