<!DOCTYPE html>
{% extends "public/templates/public_template.html" %}
<html lang="en" dir="ltr">
  <head>
    {% block title %}Homepage{% endblock %}

{% block main %}

<div class="header">
  <div class="row">
    <div class="col">

      <h1 id="title">Homepage</h1>
      <hr>



    <!--<div class="mb-3" id="messages"></div>-->

      <body>
        <h2>Please upload a Python file (.py file extension) onto the Inverted Pendulum</h2>
        <form method="POST" action="{{ url_for('upload_file') }}" enctype="multipart/form-data">
          <p><input type="file" name="python_file" accept=".py"></p>
          <p><input type="submit" value="Upload File"></p>
        </form>
      </body>

      <div class="mb-3">
        <div class="form-group">
          <label>Start pendulum:</label>
          <button class="btn btn-primary" id="onbutton" onclick="actuate();">Actuate!</button>
        </div>
      </div>
      <hr>

    </div>
  </div>
</div>

{% endblock %}

    <script>

      function actuate() {

      print(<h4>Hello!<h4>)

      fetch('${window.origin}/test',{
    method: "POST",
    credentials: "include",
    body: JSON.stringify(entry),
    cache: "no-cache",
    headers: new Headers({
      "content-type": "application/json"
    })
   })
      .then(function (response) {
        if (response.status !== 200) {
      console.log(`Looks like there was a problem. Status code: ${response.status}`);
      return;
    }
    response.json().then(function(data) {
      console.log(data);
    });
  })
  .catch(function(error) {
    console.log("Fetch error: " + error);
});

    </script>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
  <h1> Python Fetch Example</h1>
  <p id='embed'>{{embed}}</p>
  <p id='mylog'/>
  <body>
</html>
