<!DOCTYPE html>
{% extends "public/templates/public_template.html" %}
<html lang="en" dir="ltr">
  <head>
    <!--Add custom favicon for browser tab-->
    <!--Doesn't work!!!!-->
    <link rel = "icon" href = "static/img/site_logo.png" type = "image/x-icon">
    <script type="text/javascript" src="/static/js/app.js"></script>
    {% block title %}Homepage{% endblock %}

{% block main %}
<div class="header">
  <div class="row">
    <div class="col">

      <h1 id="title">Homepage</h1>
      <hr>

      <body>
        <h3>Please upload a Python file (.py file extension) onto the Inverted Pendulum</h3>
          <!--**************************Send form data to web server**************************-->
          <form method="POST" action="http://localhost:5000/index" enctype="multipart/form-data">
          <p><input type="file" name="file" accept=".py"></p>
          <p><input type="submit" value="Upload File" onclick="update()"></p>
        </form>

        <!--For file upload progress bar-->
        <div id="myProgress">
          <div id="myBar"></div>
        </div>

      </body>

      <!--The following lines are for the success flash() message-->
      {% with errors = get_flashed_messages(category_filter=["success"]) %}
            {% if errors %}
                {%- for message in errors %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <span>{{ message }}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor -%}
            {% endif %}
        {% endwith %}

      <!--The following lines are for the warning flash() messages-->
      {% with errors = get_flashed_messages(category_filter=["warning"]) %}
            {% if errors %}
                {%- for message in errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <span>{{ message }}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor -%}
            {% endif %}
        {% endwith %}

        <!--The following lines are for the danger flash() messages-->
        {% with errors = get_flashed_messages(category_filter=["danger"]) %}
            {% if errors %}
                {%- for message in errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span>{{ message }}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor -%}
            {% endif %}
        {% endwith %}

      <div class="mb-3">
        <div class="form-group">
          <label>Start pendulum:</label>
            <!-- <button class="btn btn-primary" id="onbutton">Actuate!</button> -->
            <button type="button" id=button1 onclick="window.location.href='{{ url_for( 'run_test_file') }}';">Actuate!</button>
        </div>
      </div>
      <hr>

    </div>
  </div>
</div>

{% endblock %}

    <meta charset="utf-8">
  </head>
</html>
