.header{
    color: white;
    background-color: maroon;
    border-style: solid;
    border: 1px solid #d5d6d2;
    text-align: center;
    margin:5px;
    font-family: "Times New Roman", Times, serif;
}

/* Customize HTML paragraph element margins */
p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 10em;
  margin-right: 10em;
}

.button {
    background-color: gold;
    border: solid;
    border-color:#d5d6d2;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover{
    background-color: white;
    cursor: pointer;
}

a{
	color:white;
	text-decoration:none;
}
a:hover{
	text-decoration:underline
}

#main{
    color: black;
    background-color: #d5d6d2;
    border-style: solid;
    border: 1px solid #d5d6d2;
    text-align: center;
    margin:5px;
}

#about{
    font-size: large;
}

#title{
    font-size: xx-large;
}

#subtitle{
    font-size: large;
}

#choose_file{
    border: none;
    text-decoration: none;
    display: inline-block;
}

#submit{

}

#myProgress {
  /* Background shape of progress bar */
  /* Allow the background shape to not be flush with the edge of the website window */
  width: auto;
  background-color: #ddd;
  margin:40px;
  border-radius: 50px;
}

#myBar {
  /* Displays current progress - Candy Stripe style */
  display: block;
  position: relative;
  width: 0%;
  height: 20px;
  background-color: blue;
  border-radius: 50px;
  /*#ffbb00 is similar to gold and #ed9339 is similar to pumpkin orange */
  background-image: linear-gradient(to bottom, #ffbb00, #ed9339);
  box-shadow:
    inset 0 -2px 1px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  overflow: hidden;
}

#myProgress > #myBar::after {
  /* Displays current progress - Candy Stripe style */
  /* This function is for allowing the linear gradient of the progress bar to stay at the same angle during animation */
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}
